node_modules
dist
dist-ssr
*.local
.env
.env.*

#esto es mio jeje
NOTION-PENDIENTE.md
SECURITY.md

.DS_Store
Thumbs.db

.claude/

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
